
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kişisel Web Sitesi</title>
    <link rel="stylesheet" href="~/web-Admin/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div class="center">
        <div class="avatar">
            <img src="~/web-Admin/avatar.jpg"> <!-- >burası fotograf ekliyor. -->
        </div>
        <div class="content">
            <h1>Yeşim Eren SERT</h1>
            <h2>Software Developer</h2>
            <p>Buraya kendimden bişiler katmak istedim. 2023 yılının başlarında başladım yazılıma ve işimi seviyorum.Bu alanda ilerleyebiceğim kadar ilerlemek istiyorum.</p>
            <h4>Sosyal Medya Hesaplarım</h4>
        </div>
        <div class="sosyal">
            <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-github"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>

        </div>

    </div>
</body>
</html>
