@using Kisiselweb.Models.Classes
@model List<Icons>

<div class="sosyal">
    @foreach (var z in Model)
    {
        <a href="@z.Link"><i class="@z.Icon"></i></a>
    }

</div>


@* <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
<a href="#"><i class="fa-brands fa-instagram"></i></a>
<a href="#"><i class="fa-brands fa-github"></i></a>
<a href="#"><i class="fa-brands fa-linkedin-in"></i></a> *@